:root {
  --color-bg: linear-gradient(to right, #544a7d, #ffd452);
  --color-peach: peachpuff;
  --color-white: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 40%; } }

body {
  height: 100vh;
  background: var(--color-bg);
  font-family: "Shadows Into Light", cursive;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.clock--digital {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .clock--digital .date {
    font-size: 3.5rem; }
  .clock--digital .time {
    font-size: 8rem; }

.clock--analogue {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 3rem; }
  .clock--analogue::after {
    content: "";
    position: absolute;
    background: var(--color-white);
    z-index: 11;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .clock--analogue .hand {
    position: absolute;
    bottom: 50%;
    left: 49%;
    background-color: var(--color-white);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform-origin: bottom;
    transform: translateX(-50%);
    z-index: 10; }
  .clock--analogue .hours {
    width: 0.5rem;
    height: 8rem; }
  .clock--analogue .minutes {
    width: 0.4rem;
    height: 11rem; }
  .clock--analogue .seconds {
    width: 0.2rem;
    height: 13rem; }
  .clock--analogue .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; }
  .clock--analogue .number--1 {
    transform: rotate(30deg); }
  .clock--analogue .number--2 {
    transform: rotate(60deg); }
  .clock--analogue .number--3 {
    transform: rotate(90deg); }
  .clock--analogue .number--4 {
    transform: rotate(120deg); }
  .clock--analogue .number--5 {
    transform: rotate(150deg); }
  .clock--analogue .number--6 {
    transform: rotate(180deg); }
  .clock--analogue .number--7 {
    transform: rotate(210deg); }
  .clock--analogue .number--8 {
    transform: rotate(240deg);
    color: var(--color-peach); }
  .clock--analogue .number--9 {
    transform: rotate(270deg);
    color: var(--color-peach); }
  .clock--analogue .number--10 {
    transform: rotate(300deg);
    color: var(--color-peach); }
  .clock--analogue .number--11 {
    transform: rotate(330deg);
    color: var(--color-peach); }
  .clock--analogue .number--12 {
    color: var(--color-peach); }

.btn-wrapper {
  max-width: 40rem;
  width: 100%;
  text-align: end; }
  .btn-wrapper .btn {
    font-family: inherit;
    font-size: 2.2rem;
    color: var(--color-white);
    width: 10rem;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s; }
    .btn-wrapper .btn:hover {
      transform: rotate(-10deg);
      border: 1px solid var(--color-peach);
      color: var(--color-peach); }
    .btn-wrapper .btn:focus {
      outline: 4px solid rgba(255, 255, 255, 0.5); }

.hidden {
  display: none; }

.author {
  font-size: 2rem;
  color: var(--color-peach);
  text-align: center; }
  .author a:link,
  .author a:visited {
    text-decoration: none;
    color: var(--color-peach); }
  .author--digital {
    letter-spacing: 4px; }
    @media only screen and (max-width: 25em) {
      .author--digital {
        letter-spacing: 2.5px; } }
  .author--analogue {
    translate: 0 35rem;
    letter-spacing: 2px; }
